.home-main-div {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../../../../assets/images/background-image.png);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.about-and-info {
    width: 400px;
}

app-login {
    margin-right: 200px;
}

@media only screen and (max-width:800px) {
    .home-main-div {
        flex-direction: column-reverse;
        width: auto;
        height: 150%;
        background-size: 80%;
    }

    app-login {
        margin: auto;
    }

    .about-and-info {
        width: 300px;
        padding-top: 50px;
    }
}